/* Fonts */

$fonts: (
  'Barlow': 'Barlow-Regular.woff2',
  'Barlow Condensed': 'Barlow-Condensed-Regular.woff2',
  'Bellefair': 'Bellefair-Regular.woff2',
);

@each $family, $file in $fonts {
  @font-face {
    font-family: $family;
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/#{$file}') format('woff2');
    font-display: swap;
  }
}
