/* Font stacks with fallbacks */
$font-barlow: Barlow, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-barlow-condensed: 'Barlow Condensed', 'Arial Narrow', 'Helvetica Neue Condensed', 'Helvetica Neue', Arial, sans-serif;
$font-bellefair: 'Bellefair', 'Palatino', 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif;

body {
  font-family: $font-barlow;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
